@import 'src/sass/mixins';
@import 'src/sass/variables';

//Así se usa SASS mi rey :v
.home {
    width: 100vw;
    min-height: 100vh;
    @include flexbox();
    @include flex-direction(column);
    @include align-content(center);
    @include align-items(center);
    @include justify-content(center);
    .card{
        position: absolute;
        width: 80vw;
        box-shadow: var(--shadow);
        .home-container {
            width: 100%;
            height: 100%;
            background-color: $dark-background;
            @include flexbox();
            @include flex-direction(column);
            @include align-content(center);
            position: relative;
            .title-container {
                display: block;
            }
            .home-content{
                color: $onbackground-text-color;
                font-weight: bold;
                .part1{
                    font-size: 32px;
                    margin: 25px 0 0 0;
                }
                .part2{
                    margin: 5px 0 0 0;
                    font-size: 28px;
                }
            }
            .plant-container {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .whoami{
            margin-top: 20px;
            @include flexbox();
            @include flex-direction(row);
            @include align-content(center);
            @include justify-content(center);
            &-logo{
                width: 10%;
            }
            &-links{
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                margin-left: 20px;
                &-link1{
                    color: $link-color;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
                &-link2{
                    color: $link-color;
                    text-decoration: none;
                }
            }
        }
        .content{
            display: flex;
            justify-content: center;
            height: 90%;
            .home-card {
                width: 30%;
                background-color: white;
                padding: 1em;
                border: 3px solid #7ea00e;
                color: $onbackground-text-color;
                margin: 11vh 1.5vw 5vh;
                text-decoration: none;
                position: relative;
                text-align: center;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include transition(0.5s);
                &:hover{
                    background-color: darken(#FFFFFF, 10%);
                    transform: scale(1.02);
                    cursor: pointer;
                }
                .card-icon{
                    transform: scale(0.7);
                    background-color: white;
                    border: 3px solid #7ea00e;
                    padding: 10px;
                    border-radius: 50%;
                    position: absolute;
                    top: -20%;
                    left: -15%;
                    &-image{
                        margin: auto;
                    }
                }
            }
        }
    }
    .image_background_si{
        //Qué gonorrea tener que hacer esto Johan
        width: 100vw;
        height: 100vh;
    }
}





